.git/
.idea/
.settings/
*/target/
dspace/modules/*/target/
Dockerfile.*
Dockerfile
dspace/src/main/docker/dspace-postgres-pgcrypto
dspace/src/main/docker/dspace-postgres-pgcrypto-curl
dspace/src/main/docker/README.md
dspace/src/main/docker-compose/

docker-compose.yml
.gitignore

# Data
data/
DSPACE_BACKUP.sh
IMPORT_DSPACE_DB.sh